
:root{
    --font-inter: "Inter", sans-serif;
    --font-colistoga:"Calistoga", serif;
    --main-bg-color:#141414;
    --second-bg-color: #1F1F1F;
    --tird-bg-color:#2B2B2B;
    --orange-color: #FE6A0F;
    --dark-orange-color:#d65403;
    --gray-color:#979797;
    --container-width:1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: var(--container-width);
    max-width: 100%;
    height: 100px;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.nav-bars{
    display: none;
}

.nav-bar{
    height: 3px;
    margin-bottom: 10px;
    width: 50px;
    background-color: white;
    margin-right: 20px;
}

main{
    max-width: 100%;
}
.header-menu{
    display: flex;
    align-items: center;
    width: 70%;
}

.logo{
    width:max-content ;
    margin-left: 20px;
}

.logo p{
    font-size: 40px;
    text-transform: capitalize;
    font-family: var(--fonte-colistoga);
}

.menu{
    flex: 1;
    margin-left: 50px;
}

.menu nav ul,
.menu nav li{
    list-style: none;
    display: flex;
}

.menu nav a{
    text-decoration: none;
    display: block;
    padding: 20px;
    text-transform: capitalize;
    font-family: var(--font-inter);
    font-size: 18px;
}

.menu nav a:hover{
    color: #bbb;
}

.make_order{
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.make_order a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--font-inter);
}

.make_order a:hover{
    color: #bbb;
    border: 1px solid #bbb;
}

.main-background{
    height: calc(100vh - 100px);
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    padding-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    width: var(--container-width);
    max-width: 100%;
}

.main-background--header{
    display: flex;
    justify-content: center;
}

.main-background--header---text{
    flex: 1;
}

.main-background--header---text h1{
    font-size: 72px;
    text-transform: capitalize;
    font-family: var(--fonte-colistoga);
    margin-bottom: 30px;
}

.main-background--header---text p{
    font-size: 20px;
    font-family: var(--font-inter);
    margin-bottom: 30px;
}

.main-background--header---text p::first-letter{
    text-transform: capitalize;
}

.main-background--header---text .button a{
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 18px;
    text-decoration: none;
    background-color: var(--orange-color);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.main-background--header---text .button a:hover{
    color: var(--second-bg-color);
    background-color: var(--dark-orange-color);
}

.main-background--header---img{
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-background--header---img img{
    position:absolute;
    height: 450px;
    bottom: -80px;
}

.main-backgound--search{
    background-color: var(--second-bg-color);
    height: 35vh;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
}

.main-backgound--search .container{
    height: 100%;
    flex-direction: column;
}

.search-area{
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.area-text{
    margin-top: 30px;
    font-size: 20px;
    font-family: var(--font-inter);
    font-weight: 600;
}

.area{
    display: flex;
    align-items: center;
    width: 350px;
    background-color: var(--tird-bg-color);
    padding: 10px;
}

.search-area span::before{
    content: url(../imagens/searchIcon.png);
}

.area input{
    background-color: var(--tird-bg-color);
    border: 0;
    outline: 0;
    height: 25px;
    width: 250px;
    padding-left: 10px;
    font-size: 18px;
    margin: 10px;
    color: var(--gray-color);
    text-transform: capitalize;
}

.search-area input::placeholder{
    color: var(--gray-color);
    text-transform: capitalize;
    font-family: var(--font-inter);
    font-size: 18px;
}

.category{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select{
    background-color: var(--tird-bg-color);
    padding: 20px;
    width: 250px;
    color: var(--gray-color);
    font-size: 18px;
    
}

.burges-list{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    margin-top: 40px;
    padding-bottom: 40px;
}

.burges-list .container{
    flex-wrap: wrap;
}

.burges-list--burges{
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2b2b2b, #1F1F1F);
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
}

.burges-list--burges:hover{
    background: 0;
    background-color: #2B2B2B;
    cursor: pointer;
}


.burges--type p{
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--font-inter);
}

.burges--type,
.burges--header,
.burges--price{
    width: 100%;
    margin-left: 30px;
}

.burges--header p{
    font-size: 25px;
    text-transform: capitalize;
    font-family: var(--fonte-colistoga);
    font-weight: 600;
    padding: 5px 0px;
}

.burges--price p{
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--font-inter);
    color: var(--orange-color);
}

.burges--price p::before{
    content: "R$ ";
}

footer{
    display: flex;
    width: 100%;
    background-color: var(--second-bg-color);
    padding: 50px;
}

.footer-logo,
.footer-creator{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-creator p{
    color: var(--gray-color);
}

@media (min-width:1700px){
    :root{
        --container-width:1600px;
    }

    .main-background{
        height: max-content;
    }

    .main-backgound--search{
        height: 300px;
    }
}

@media (max-width:1440px){
    .main-background--header---text h1{
        font-size: 60px;
    }
    .container{
        margin: 0 20px;
    }

    .make_order{
        margin-right: 20px;
        justify-content: center;
    }
}

@media (max-width:768px){

    .main-background{
        height: max-content;
    }

    .main-background--header---text h1{
        font-size: 50px;
    }

    .main-background--header---img img{
        bottom: -70px;
    }

    
}

@media (max-width:700px){

    header{
        justify-content: space-around;
    }

    .menu,
    .make_order{
        display: none;
    }

    .nav-bars{
        display: block;
    }

    .main-background--header---text h1 {
        font-size: 50px;
    }

    .main-background--header .container{
        flex-direction: column;
    }

    .main-background--header---text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-background--header---img{
        position: static;
    }
    
    .main-background--header---img img{
        position:static;
    }

    .main-backgound--search{
        height: auto;
    }
    .area-text{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .category{
        flex-direction: column;
    }

    .category .area{
        width: 100%;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .category select{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .burges-list--burges{
        margin: 10px 20px;
        width: 400px;
        max-width: 100%;
    }
}

@media (max-width:470px){

    footer{
        flex-direction: column;
    }

    .footer-logo{
        margin-bottom: 20px;
    }
}


@media (max-width:360px){

    .main-background{
        margin: 10px 0px;
    }

    .main-background--header---text h1 {
        font-size: 40px;
    }

    .main-background--header---text p {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;

    }
}

@media (min-width: 700px) and (min-height: 900px){

    .main-background {
        height: max-content; 
        
    }
    .main-backgound--search {       
        height: max-content;
    }

    .main-background--header---img img {
        height: 400px;
        bottom: -40px;
    }

    .category{
        padding: 30px 0px;
    }
}

@media (min-width: 700px) and (min-height: 100px){
    .main-background {
        height: max-content; 
        
    }
    .main-backgound--search {       
        height: max-content;
    }

    .main-background--header---img img {
        height: 400px;
        bottom: -40px;
    }

    .category{
        padding: 30px 0px;
    }
    
}
